.navbar {
  background-color: black;
}
.divinfo {
  position: fixed;
  background-color: #343a40;
  width: 330px;
  height: 0;
  left: 1010px;
  transition: 0.8s ease-in-out;
  z-index: 1;
  overflow-x: hidden;
  border-radius: 15px;
  text-align: center;
  color: white;
}
.profile:hover {
  cursor: pointer;
  text-decoration: underline;
}
.divinfo h5:hover {
  text-decoration: underline;
  cursor: pointer;
}
.divcontent {
  /* display: flex; */
  float: left;
  flex-wrap: nowrap;
  margin: 12px;
  box-shadow: -5px -5px 8px 5px gray;
}
#card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.rate-this-stars button {
  background: url("../../imgs/star.jpg");

  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  outline: none;
  border: 1px solid white;
  margin-left: 10px;
}
.info_about_book {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: nowrap;
}

.rate-this-starss button {
  background: url("../../imgs/starcolored.jpg");

  background-repeat: no-repeat;
  float: left;
  width: 20px;
  height: 20px;
  outline: none;
  border: 1px solid white;
  margin-left: 10px;
  margin-top: 30px;
  position: relative;
  left: 55px;
  /* top: 270px; */
}
.rate-this-starss img {
  background-repeat: no-repeat;
}

.books {
  transition: all 5s ease-in-out;
}
