.navbar {
  background-color: black;
}
.divinfo {
  position: fixed;
  background-color: gainsboro;
  width: 300px;
  height: 0;
  left: 1065px;
  transition: 0.8s ease-in-out;
  z-index: 1;
  overflow-x: hidden;
  border-radius: 15px;
}
